PORT=8080
MONGODB_URI=your_mongodb_connection_string_here
CORS_ORIGIN=your_frontend_origin_here
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=your_frontend_origin_here

REDIS_URL=your_redis_connection_string_here

NODE_ENV=development